*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(image/istockphoto-1367549751-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}